head, header, nav, main, footer, body, table {
    margin: 0;
    padding: 0;
    border: 0;
}
nav {
    display: block;
    background-color: tan;
    font: white;
    margin-top: 0;
    padding-top: 0%;
}

nav ul {
    list-style-type: none;
    text-align: center;
    
}

nav li {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    border: 0.5px;
    border: black;
    border: groove;
    display: inline-block;
        
}

nav li a {
    display: block;
    color: white;
    font-style: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;   
}

nav li a:hover {
    color: gray;
    background-color: beige;
}



@media screen and (min-width: 1000px){
    nav li {
        display: inline-block;
        
    }
    .main_content{
        background-color: rgb(210, 180, 140, .60);
    }
    
}

@media screen and (max-width: 1000px){
    nav li {
        display: block;
    }
    .main_content{
        background-color: white;
    }
    form{
        background-color: rgb(210, 180, 140, .60);
    }
    fieldset{
        border: none;
    }
    tr:nth-child(even){
        background-color: rgb(210, 180, 140, .60)d;
    }
}

.main_content {
   
    width: 85%;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 600px;
    padding: 10px;
    align-items: center;
    text-align: center;
}

header{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

table {
    align-self: center;
    text-align: center;
    border-collapse:collapse ;
    font-size: 24px;
}
td {
    border: 0.1em solid black;
    
}
tr:nth-child(odd){
    background-color: burlywood;
}

.explain{
    font-size: 25px;
}

label{
    display: block;
}